* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    padding: 1rem;
    background-color: #4f3e38;
    display: flex;
    justify-content: space-between;
}


.logo a{
    margin-left: 30px;
    font-size: 2rem;
    color:white;
    text-decoration: none;
}

.menu{
    display: flex;
    list-style: none;
    align-items: center;
}

.menu li{
    margin: 0 1rem;
}

.menu li a{
    color:white;
    text-decoration: none ;
}
/*div.gallery {
    border: 1px solid #ccc;
  }
  
  div.gallery:hover {
    border:1px solid #777;
  }*/
  div.gallery img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    /*border: 2px solid ;*/
  }
  
  div.desc {
    /*background-color: #333;*/
    color: #4A3933;
    padding: 5px;
    text-align: center;
    font-size: 18px;
  }
  div.link{
    font-size: 13px;
  }
  div.header{
    background-color:#FFFFE0;
    margin-left: 80px;
    margin-right: 80px;
    padding: 50px;
    color: #4A3933;
    border-radius: 50px;
    /*border: 1px solid #4A3933;*/
  }
  body{
    align-content: center;
    background-color: #FFDCDC;
    background-image: url(./img/bg8.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }

  .responsive {
    display: flex;
    margin-left: 58px;
    margin-right: 9px;
    margin-bottom: 10px;
    padding: 0 6px;
    float: left;
    width: 15%;
  }

  h2{
    text-align: center;
  }

  h4{
    text-align: center;
  }
  p{
    text-align: center;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  h3{
    text-align: center;
  }